<form>
  <p class="h5 text-center mb-4">Editar Objeto</p>

  <div class="md-form">
    <input type="password" id="nombre" class="form-control">
    <label for="nombre">Nombre</label>
  </div>

  <div class="md-form">
    <input type="text" id="marca" class="form-control">
    <label for="marca">Marca</label>
  </div>

  <div class="md-form">
    <input type="password" id="modelo" class="form-control">
    <label for="modelo">Modelo</label>
  </div>

  <div class="md-form">
      <input type="text" id="descripcion" class="form-control">
      <label for="descripcion">Descripcion</label>
  </div>

  <div class="md-form">
    <label for="fecha">Fecha</label><br><br>
    <input type="date" id="fecha" class="form-control">
</div>

<div class="md-form">
    <label for="img">Seleccionar una foto:</label><br><br>
    <input type="file" id="img" class="form-control">
</div>

<div class="md-form">
  <input type="text" id="numeroserie" class="form-control">
  <label for="numeroserie">Número de serie</label>
</div>

<div class="md-form">
  <input type="text" id="observaciones" class="form-control">
  <label for="observaciones">Observaciones</label>
</div>

<div class="md-form">
  <label for="estado">Estado:</label><br><br>
  <input type="checkbox" id="estado">
</div>

<div class="md-form">
  <label for="patrimonio">Patrimonio</label><br><br>
  <input type="checkbox" id="patrimonio" class="form-control">
</div>

  <div class="text-center">
      <button class="btn btn-default">Enviar</button>
  </div>
</form>
